<!-- page content -->

<div id="careercontent">
    <div class="container">
  
        <h3>Letter Of Introduction</h3>

<img id="svg" src="/src/componets/Icons/letter-svgrepo-com.svg" alt="">

<p>
    Don't have one
    
</p>

<h3>Resume</h3>

<img src="/src/componets/Icons/fellow-recruit-message-svgrepo-com.svg" alt="" id="svg">

<p>
    <a href="https://docs.google.com/document/d/1jnz8p6yVU2MoDv1EtAJ07tVdZqGElV9Xv6i7zcO9Kc8/edit">Resume</a>
    
</p>

<h3>References</h3>

<img src="/src/componets/Icons/library-svgrepo-com.svg" alt="" id="svg">

<p><a href="https://docs.google.com/document/d/1UMlAcvpTZSu6nX1NMvjOkPyH9aVAyWQvUlF2uMg63n4/edit?usp=sharing">Referances</a></p>

<h3>Job Application</h3>

<img src="/src/componets/Icons/application-form-svgrepo-com.svg" alt="" id="svg">

<p><a href="https://drive.google.com/drive/u/0/folders/1NkTEYYU_CCOefSOMQAHWwgAS8bs-nHKo">Job Apllication</a></p>

<h3>Career Plan</h3>

<img src="/src/componets/Icons/career-illustration-1-svgrepo-com.svg" alt="" id="svg">

<p>None</p>
    </div>

    <h3>Work Samples</h3>

    <img src="/src/componets/Icons/color-swatch-svgrepo-com.svg" alt="" id="svg">

<p><a href="">Work Examples</a></p>

<h3>Certificates</h3>

<img src="/src/componets/Icons/certificate-check-svgrepo-com.svg" alt="" id="svg">

<p>Some</p>
    <!-- end container -->
</div>
<!-- end pagecontent -->

<style>

/* page content
 */


 #careercontent {
    background-color: none;
    padding: 2rem 0 2rem 0;

    }

    #careercontent h2, h3{
        padding:2rem;
    }

    #careercontent h2{
        font-size: 4rem;
    }

    #careercontent h3{
        font-size: 2.5rem;
    }

    #svg{
        width: 50px;
        height: 50px;
    }
    /* end page content */

</style>