<!-- Features -->
<section id="features">

    <div id="container">

        <!-- cards -->
        <!-- card1 -->
        <div class="card">
            <h3>Career</h3>
            <p>Review my career documents including my name, resume, cover letter, and job aplications</p>
        </div>

        <!-- card 2 -->
        <div class="card">
            <h3>Design</h3>
            <p>Review my website designs and image creations.</p>
        </div>

        <!-- card 3 -->
        <div class="card">
            <h3>Programming</h3>
            <p>Review my Javascript applications</p>
        </div>
    </div>
    <!-- end container -->

</section>
<!-- end features -->