<!-- page content -->

<div id="pagecontent">
    <div class="container">
        <h2>
            Introduction
    
        </h2>

<p>
    My name is Manuel Chagoyan. I am a web developer based in Coalinga, California. I enjoy technology and I love to learn about science, math, and underwater basket weaving. I am also about to complete the Web Technologies Pathway at Coalinga High School.
    
</p>

<h3>Career</h3>

<p>
    My goal is to become a data scientist. My goal is to utilize my passion for math and technology.
    
</p>

<h3>Design</h3>

<p>Another interest I have is art. I love drawing so color theory is one aspect of design I enjoy. I also enjoy creating beyond paper and enjoy digital art. I enjoy using Photoshop.</p>

<h3>Programming</h3>

<p>Over the last two years I have been learning JavaScript. I have found it interesting and challenging. I especially enjoyed using JavaScript with the HTML canvas element.</p>

    </div>
    <!-- end container -->
</div>
<!-- end pagecontent -->

<style>

/* page content
 */
 #pagecontent {
    background-color: none;
    padding: 2rem 0 2rem 0;
    }

    #pagecontent h2, h3{
        padding:2rem;
    }

    #pagecontent h2{
        font-size: 4rem;
    }

    #pagecontent h3{
        font-size: 2.5rem;
    }

    /* end page content */

</style>