---

---
     <!-- begin pagefooter -->

     <footer id="pagefooter"> 
          <div class="container">

               <div id="quote">
                    <blockquote>
                         "What's the easiest way to make a banana split? You show it the door." - Split
                         
                    </blockquote>
               </div>
               <!-- end quote -->

               <div id="pagefooterlinks">

                    <h3>Links</h3>

                    <ul>
                         <li><a href="index.astro">Home</a></li>
                         <li><a href="about.astro">About</a></li>
                         <li><a href="blog.astro">Blog</a></li>
                    </ul>
               </div>

               <!-- end pagefooterlinks -->

          </div>
          <!-- end container -->
  </footer>

     <!-- end pagefooter -->