<!-- semesters -->

<section id="semesters">
    <div class="container">

        <h2>Key Assignments</h2>

        <section id="workthumbnails">

            <div class="thumbnail">

                <a href="https://chsserver01.org/2023/hgeary062023/Demos/PaintBrushV1/paintbrushv5.html"><img src="images/paintcanvas.png" alt="Vs Code" class="thumb"></a>
                <a href="https://chsserver01.org/2023/hgeary062023/Demos/Fruits/fruit.html"><img src="images/randomfruit.png" alt="Git" class="thumb"></a>
                <a href="https://chsserver01.org/2023/hgeary062023/Activities/AFB001/afb001.html">
                    <img src="images/flexbox.png" alt="Mark Down" class="thumb"></a>
                <a href="https://chsserver01.org/2023/hgeary062023/Activities/AFB002/afb002.html"><img src="images/frogflex.png" alt="Photoshop" class="thumb"></a>
                <a href="https://chsserver01.org/2023/hgeary062023/Activities/AFB003/afb003.html"><img src="images/moreflexbox.png" alt="Github" class="thumb"></a>
                <a href="https://chsserver01.org/2023/hgeary062023/"><img src="images/portfolio.png" alt="JavaScript" class="thumb"></a>



            </div>
        </section>



<h3>Semester 1</h3>
<ul class="assignments">

    <li><a href="#" target="new">A001</a></li>
    <li><a href="#" target="new">A002</a></li>
    <li><a href="#" target="new">A003</a></li>
    <li><a href="#" target="new">A004</a></li>

</ul>

<h3>Semester 2</h3>
<ul class="assignments">

    <li><a href="#" target="new">A005</a></li>
    <li><a href="#" target="new">A006</a></li>
    <li><a href="#" target="new">A007</a></li>
    <li><a href="#" target="new">A008</a></li>

</ul>
    </div>
</section>