<!-- semesters -->

<section id="semesters">
    <div class="container">

        <h2>Key Assignments</h2>

        <section id="workthumbnails">

            <div class="thumbnail">

                <img src="images/thumbnail.gif" alt="Vs Code" class="thumb">
                <img src="images/thumbnail.gif" alt="Git" class="thumb">
                <img src="images/thumbnail.gif" alt="Mark Down" class="thumb">
                <img src="images/thumbnail.gif" alt="JavaScript" class="thumb">
                <img src="images/thumbnail.gif" alt="Photoshop" class="thumb">
                <img src="images/thumbnail.gif" alt="Github" class="thumb">

            </div>
        </section>



<h3>Semester 1</h3>
<ul class="assignments">

    <li><a href="#" target="new">A001</a></li>
    <li><a href="#" target="new">A002</a></li>
    <li><a href="#" target="new">A003</a></li>
    <li><a href="#" target="new">A004</a></li>

</ul>

<h3>Semester 2</h3>
<ul class="assignments">

    <li><a href="#" target="new">A005</a></li>
    <li><a href="#" target="new">A006</a></li>
    <li><a href="#" target="new">A007</a></li>
    <li><a href="#" target="new">A008</a></li>

</ul>
    </div>
</section>