---
import "../styles/global.css";
import PageHeader from "../componets/PageHeader.astro";
import PageFooter from "../componets/PageFooter.astro";
import Features from "../componets/Features.astro";
import PageContent from "../componets/PageContent.astro";
import Semesters from "../componets/Semesters.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Theme Build for Astro</title>


</head>
<body>
<!-- 
pageheader
showcase
features
pagecontent
semesters
pagefooter
     -->

     <PageHeader />

     <!-- begin showcase -->

     <section id="showcase">

          <div id="showcase">
          <div id="showcasetext">
               <h1>Hannah Geary</h1>
               <h2>Portfolio</h2>
                    <blockquote>"Why do detectives stand so awkwardly? ...Because they always have a gut feeling!" - Split</blockquote>
          </div>
     
          <div id="showcaseimage">
     
               <img src="images/technologiesbig.png" alt="Technologies" id="logosbig">
               <img src="images/technologiessmall.png" alt="Technologies" id="logossmall">
     
          </div>
     
          <p id="showcaseintro">
               This is a showcase of my web design/development work.
          </p>
     
          </div>

     <!-- end showcase -->

     <!-- begin features -->

     <Features/>

     <!-- begin pagecontent -->

          <PageContent/>

     <!-- end page content -->

     <!-- begin semesters -->

     <Semesters/>

     <!-- end semesters -->

     <PageFooter />

</body>
</html>

